@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background: #f9fafb;
  color: #333;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

body {
  overflow: hidden;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, sans-serif;
}
